.myPOne {
    color: red;
    font-size: 12px;
}

.myPTwo {
    color: green;
    font-size: medium;
}

.myPThree {
    color: chocolate;
    font-size: 18px;
}

.myPThree {
    color: yellow;
    font-size: 18px;
}

.myPFour {
    color: blueviolet;
    font-size: xx-large;
}

.myPFive {
    color: orange;
    font-size: xx-small;
}